* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* default Setting */
body {
    --main-color: #283526;
    --primry-color: #888888;
    --button-background: #4b709e;
    --primary-button-background: #fe7649;
    --background-color: #d6e6f8;
    --primary-light-blue: #8DB9ED;
    --primary-line-color: #ccc;
}

h1,
h2 {
    font-family: 'Arvo',
        serif;
    color: var(--main-color);
}

h3,
h4 {
    color: var(--main-color);
}

h3 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 6rem;
    word-spacing: 1px;
    text-transform: capitalize;

}

p,
a,
li,
button {
    font-family: 'Nunito',
        sans-serif;
    font-size: 2rem;
    color: var(--primry-color);

}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}

/* navbar styling */
header {
    padding: 0 10rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* border: 4px solid green; */
    height: 12rem;
}

header nav .left-side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    /* border: 5px solid red; */
}

header nav .left-side-menu a img {
    width: 13rem;
    height: 5.5rem;
}

header nav .left-side-menu .sub-menu ul {
    display: flex;
    height: inherit;

}

header nav .left-side-menu .sub-menu ul li {
    margin-right: 3rem;
    position: relative;
    z-index: 9;
}

header nav .left-side-menu .sub-menu ul li a {
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all .2s;

}

header nav .left-side-menu .sub-menu ul li a:hover {
    color: var(--button-background);
}

/* **************right side menu styling */

header .right-side-menu {
    display: flex;
    justify-content: end;
    width: 50%;
    /* border: 5px solid yellow; */
}

header .right-side-menu .sub-menu {
    width: 100%;
    display: flex;
    align-content: center;
    height: inherit;
    justify-content: flex-end;

}

header .right-side-menu .sub-menu li {
    margin-right: 3rem;
    padding: 0.7rem 1rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    cursor: pointer;
}

header .right-side-menu .sub-menu li a {
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    position: relative;
    z-index: 9;
}

header .right-side-menu .sub-menu button {
    padding: 0.5rem 2.5rem;
    background-color: var(--button-background);
    color: #fff;
    position: relative;
    z-index: 9;
}

header .right-side-menu .sub-menu button:hover {
    background: #1b3d68;
}

header .right-side-menu .sub-menu li a:hover {
    color: var(--button-background);
}

/*************************************first section styling******************************** */
.section-container {
    padding: 0 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;

}

.section-container .first-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-container h1 {
    width: 55rem;
    font-size: 6rem;
    line-height: 9rem;
    margin-bottom: 5rem;
    text-transform: capitalize;

}

.section-container p {
    margin-bottom: 8rem;
    width: 45rem;

}

.section-container .button-group a:first-child {
    margin-right: 2.5rem;

}

.section-container .second-container {
    width: 50%;
    /* height: 100vh; */
    background: var(--background-color);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 90px 20px 0px 90px;
    opacity: 0.68;
    box-shadow: 5px 5px 5px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container .second-container img {
    width: 100rem;
    height: 90rem;
    margin-right: 20rem;

}

/* ************************Second Section styling************************* */
.common-section {
    width: 100%;
    height: 70rem;
    /* border: 4px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 9rem;
    padding: 0 20rem;
}

.common-section .left-side {
    width: inherit;
    height: inherit;
}

.common-section .left-side figure {
    width: 20rem;
    height: 65rem;
    background: #f3f9ff;
    border-radius: 20px;
}

.common-section .left-side img {
    width: 45rem;
    height: 60rem;
    border-radius: 2rem;
    margin-top: 5rem;
    margin-left: 10rem;
}

/* right-side styling************************** */
.common-section .right-side {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10rem;
}

.common-section .right-side h2 {
    /* width:40rem; */
    font-size: 3rem;
    font-weight: bold;
    /* line-height: 150%; */
    line-height: 6.3rem;
    letter-spacing: 5px;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.common-section .right-side p {
    width: 40.3rem;
    line-height: 3rem;
    text-transform: lowercase;
    margin-bottom: 3rem;
}

.common-section .right-side .common-button {
    padding: 1rem 3rem;
    background: var(--primary-button-background);
    margin-right: 2rem;
    color: #fff;
}

.common-section .right-side button:last-child {
    color: var(--main-color);
    background-color: transparent;

}

.common-section .right-side .common-button:hover {
    background: #cc491d;
}

.common-section .right-side .common-button-normal:hover {
    background: var(--primary-button-background);
    color: #f0f7ff;
}

/* *************third section Card styling********************************************** */
.third-section {

    width: 100%;
    height: 100%;
    background: var(--background-color);
    padding: 7px 20rem;
    padding-bottom: 30px;
    box-sizing: border-box;

}

.third-section h2 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;

}

.third-section .para {
    width: 40rem;
    height: 9rem;
    margin-bottom: 3rem;
    text-align: center;
    margin: auto;
}

.third-section .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
}

.third-section .card .card-content {
    border: 0.9px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.6);
    height: 400px;
    padding-top: 2rem;
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 2rem;
    /* overflow: hidden; */
    margin-bottom: 10px;
}

.third-section .card .card-content img {
    width: 15rem;
    height: 15rem;
    border: 1px solid grey;
    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: all 0.3s;
    object-fit: contain;
}

.third-section .card .card-content h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: 2rem;
}

.third-section .card .card-content p {
    font-size: 2rem;
    text-align: start;
    padding-left: 10px;
    margin-bottom: 10px;
}

.third-section .card .card-content:hover {
    transform: scale(0.9);
}

.third-section .card .card-content img:hover {
    transform: rotate(360deg);
}

/* **************4th section styling starts***************************** */
#section-four .right-side h2 {
    width: 40rem;

}

#section-four .left-side {
    position: relative;

}

#section-four .left-side .image {
    position: absolute;
    width: 10rem;
    height: 15rem;
    object-fit: contain;
    /* border:4px solid red; */
    bottom: 5rem;
    left: 90%;
    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.6);
    border-radius: 20px;

}

#section-four .left-side img {
    width: inherit;
    height: inherit;
    /* margin: 0; */
}

/* 5th section styling ***************************** */
#section5 {
    height: auto;

}

#section5 .left-side img {
    margin: 0;

}

#section5 .right-side {
    justify-content: flex-start;
    padding-top: 5rem;
}

#section5 .right-side h2 {
    width: 63rem;
    letter-spacing: 0;
    font-weight: 900;
    font-size: 4rem;
    line-height: 6.3rem;

}

#section5 .right-side h3 {
    text-transform: none;
    letter-spacing: 3px;
    font-weight: 900;
    /* text-indent: 10px; */

}

#section5 .right-side .fitness-goals p {
    margin: 0;


}

#section5 .right-side div {
    margin-bottom: 1rem;
}

.fa-heart {
    color: rgba(106, 2, 2, 0.9);
}

/* footer section strats here********************************** */
.footer-list-top{
    padding-top: 3rem;
    font-family: 'Nunito',
    sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
   
}

.generic-anchor {
    color: var(--primary-button-background
    );
    font-family: 'Nunito',
    sans-serif;
}  

/* .generic-anchor:visited {
        color: var(--primary-light-blue);
    } */

.generic-anchor:hover {
        color: var(--primary-light-blue);
    }


.flex-rw {
    display: flex;
    flex-flow: row wrap;
    
}

/* //This main is mostly to push the footer to the bottom and for demo purposes */
main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10em "Oswald", sans-serif;
    color: rgb(155, 155, 155);
    line-height: 1
}

footer {
    background: var(--background-color);
    margin-top: auto;
    width: 100%
}

.footer-list-top {
    width: 33.333%
}

.footer-list-top>li {
    text-align: center;
    padding-bottom: 10px
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: black;
    font-size:4rem; 
}

.footer-list-anchor {
    font-size:1.8rem;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid var(--primary-button-background);
    width: calc(100% - 20px)
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: var(--background-color);
    padding: 0 20px
}

.footer-social-connect {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    color: black;
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px
}

.footer-social-overlap>a {
    font-size: 3em
}

.footer-social-overlap>a:not(:first-child) {
    margin-left: 0.38em
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--primary-button-background);
    margin-top: 10px
}

.footer-bottom-section>div:first-child {
    margin-right: auto
}

.footer-bottom-wrapper {
    font-size: 1.5em;
    color: black;
}

.footer-address {
    display: inline;
    font-style: normal
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em
    }

    .footer-list-anchor {
        font-size: 1.1em
    }

    .footer-social-connect {
        font-size: 2.5em
    }

    .footer-social-overlap>a {
        font-size: 2.24em
    }

    .footer-bottom-wrapper {
        font-size: 1.3em
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em
    }

    .footer-list-top {
        width: 100%
    }

    .footer-list-header {
        font-size: 3em;
    }

    .footer-list-anchor {
        font-size: 1.5em
    }

    .footer-social-section {
        justify-content: center
    }

    .footer-social-section::after {
        top: 25%
    }

    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px
    }

    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }

    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0
    }

    .footer-social-overlap>a:not(:first-child) {
        margin-left: 20px;
    }

    .footer-bottom-section {
        padding: 0 5px 10px 5px
    }

    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px
    }
}

@media only screen and (max-width: 480px) {
    .footer-social-overlap>a {
        margin: auto
    }

    .footer-social-overlap>a:not(:first-child) {
        margin-left: 0;
    }

    .footer-bottom-rights {
        display: block
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em
    }

    .footer-list-anchor {
        font-size: 1.2em
    }

    .footer-social-connect {
        font-size: 2.4em
    }

    .footer-social-overlap>a {
        font-size: 2.24em
    }

    .footer-bottom-wrapper {
        font-size: 1.3em
    }
}

/* **********social media icon bar starts******************  */
.icon-bar{
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    z-index: 10;
}
.icon-bar a{
    width:18rem;
    background: #3b5999;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.7rem;
    padding:0.5rem;
    /* logic */
    transition: all 0.5s linear;
    transform: translateX(-15rem);
}
.icon-bar a:hover{
    transform:translateX(0);
}
.icon-bar a .fab{
    font-size:2rem;
    animation:anime 2s linear alternate-reverse infinite;
}
@keyframes anime {
    from{
        transform: scale(0.6);
    }
    to{
        transform:rotateZ(360deg);
    }
}
/* adding colors */
.icon-bar .twitter{
    background: #00aced;
}
.icon-bar .instagram{
    background: #cd201f;
}
.icon-bar .pintrest{
    background: rgba(106, 2, 2, 0.9);
}
.icon-bar .linkedin{
    background: #0077b5;
}